<!DOCTYPE html>
<html>
  <title>Error Page (CMPE 280)</title>
  <link rel="stylesheet"  href="css/style.css" /> 
  
  <body>
    <div>
      <h4>&nbsp No such page found</h4>
    </div>
  </body>
</html>
