<div class="container">
	<div class="row">
		<div class="col-md-12 section-heading text-center">
			<h2 class="to-animate"><span>Top Rated Cars</span></h2>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-12 section-heading text-center">
			<h2 >
				<span>
					<input type="text" name="car1" id="car1" list="car-list" placeholder="Search A Car"/>
					<datalist id="car-list">
						<option ng-repeat="car in carsData" value="{{car.name}} {{car.type}}" data-id="{{car.id}}"></option>
					</datalist>
					<button class="btn btn-primary" ng-click="carSelected()">Search</button>
				</span>
			</h2>
			<a href="/search">Search All Cars</a>
		</div>
	</div>
</div>
<div class="fh5co-project">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4 text-center">
				<div class="project-grid to-animate-2" style="background-image:  url(images/vr/prius.jpg);">
					<div class="desc">
						<h3><a href="car1-detail.html">Toyota</a></h3>
						<span>Prius</span>

						<p class="download"><a href="car1-vr.html?polyfill=1"><i class="icon-expand"></i></a></p>
						<p class="love"><a href="car1-detail.html"><i class="icon-info"></i></a></p>
					</div>
				</div>
							
			</div>

			<div class="col-md-4 text-center">
				<div class="project-grid to-animate-2" style="background-image:  url(images/vr/renault.jpg);">
					<div class="desc">
						<h3><a href="car2-detail.html">Renault</a></h3>
						<span>Megane</span>

						<p class="download"><a href="car2-vr.html?polyfill=1"><i class="icon-expand"></i></a></p>
						<p class="love"><a href="car2-detail.html"><i class="icon-info"></i></a></p>
					</div>
				</div>
							
			</div>

			<div class="col-md-4 text-center">
				<div class="project-grid to-animate-2" style="background-image:  url(images/vr/focus.jpg);">
					<div class="desc">
						<h3><a href="car3-detail.html">Ford</a></h3>
						<span>Focus</span>

						<p class="download"><a href="car3-vr.html?polyfill=1"><i class="icon-expand"></i></a></p>
						<p class="love"><a href="car3-detail.html"><i class="icon-info"></i></a></p>
					</div>
				</div>
							
			</div>
				
			</div>
		</div>
	</div>	
</div>
